* {
  font-family: Helvetica, sans-serif;
}

/* Home page styles */

#home {
  background-color: #06bcc1;
  padding-top: 250px;
}

#home h1,
#home ul {
  width: 300px;
  margin: auto;
  padding: 50px;
  border-radius: 5px;
}

#home h1 {
  background-color: black;
  color: white;
  text-align: center;
}

#home ul {
  background-color: beige;
  font-size: 30px;
  margin-top: 10px;
}

/* Aloo sandwich styles */

#aloo {
  background-color: #f3ffb9;
  padding-left: 30px;
}

#aloo h1 {
  text-align: center;
}

#aloo h3 {
  padding-top: 30px;
}

#aloo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aloo ul,
ol {
  background-color: #c42021;
  padding: 40px;
  width: 30%;
  color: white;
  border-radius: 20px;
}

/* Maggi sandwich styles */

#maggi {
  background-color: #f3ffb9;
  padding-left: 30px;
}

#maggi h1 {
  text-align: center;
}

#maggi h3 {
  padding-top: 30px;
}

#maggi img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#maggi ul,
ol {
  background-color: #c42021;
  padding: 40px;
  width: 30%;
  color: white;
  border-radius: 20px;
}

/* Anda sandwich styles */

#anda {
  background-color: #f3ffb9;
  padding-left: 30px;
}

#anda h1 {
  text-align: center;
}

#anda h3 {
  padding-top: 30px;
}

#anda img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#anda ul,
ol {
  background-color: #c42021;
  padding: 40px;
  width: 30%;
  color: white;
  border-radius: 20px;
}
